<p id="notice"><%= notice %></p>

      <div class="collection with-header">
        <h3 class="collection-header"><%= @list.name %></h3>
          <% @list.items.each do |item| %>
                <a href="<%= item.link %>" class="collection-item"><%= item.name%></a>
          <% end %>
      </div>

<h4>Add Item to list:</h4>
	<%= render 'items/form' %>
</div>

<div class="center">
	<%= link_to 'Edit', edit_list_path(@list) %> |
	<%= link_to 'Back', lists_path %>	
</div>

