
<h1><%= @user.username %>'s Lists</h1>

<% @user.lists.each do |list| %>
      <div class="collection with-header hoverable">
	      <div class="row collection-header">
		      <div class="col s8">
		      		<h4><%= link_to list.name, list, class: "red-text" %></h4>
		      </div>
	      	      <div class="col s4">
			<h4><%= link_to list.user.username, user_lists_path(id: list.user.id), class:"right teal-text flow-text" %></h4>
	      	      </div>
	      </div>
          <% list.items.each do |item| %>
                <a href="<%= item.link %>" class="collection-item teal-text"><%= item.name%></a>
          <% end %>
      </div>
    <% end %>